*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(cakebgd.png);
    background-repeat: no-repeat;
    background-size: 1920px 980px;
}
#text1{
    color: white;
    font-size: 60px;
    margin-top: 60px;
    margin-left: 30px;
}
#text2{
    color: white;
    margin-left: 30px;
}
button{
    height: 50px;
    width: 70px;
    background-color: aqua;
    margin-left: 30px;
    border-radius: 20px;
}
button a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
button:hover{
    background-color:black;
}